<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Events | Wizarding Reception</title>
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/event.css' %}">
<link href="https://fonts.googleapis.com/css2?family=MedievalSharp&family=Cinzel:wght@400;700&display=swap" rel="stylesheet">

</head>

<body>

<header>

<nav class="navbar">

<h1 class="logo">Wizarding Reception</h1>

<ul class="nav-links">
<li><a href="{% url 'home' %}">Home</a></li>
<li><a href="{% url 'register' %}">Register</a></li>

<li><a href="{% url 'events' %}">Events</a></li>
<li><a href="{% url 'gallery' %}">Gallery</a></li>
<li><a href="{% url 'ideas' %}">Ideas</a></li>
<li><a href="{% url 'contact' %}">Contact</a></li> 
</ul>

</nav>

</header>

<div class="stars"></div>
<div class="fog"></div>

<header>
<h1 class="page-title">Magical Events</h1>
</header>

<section class="events-section">

<div class="event-card">
<h3>Opening Ceremony</h3>
<p>Speeech by Proctor --------5:00 to 5:10 pm</p>
<p>Speech by Head of the CSE Department  --------5:10 to 5:20 pm</p>
<p>Speech by Receiption's conveiner  --------5:20 to 5:30 pm</p>
<p></p>
<div class="owl-card">🦉</div>
</div>

<div class="event-card">
<h3>Club Introduction</h3>
<p>
<ul>
    <li>Sports Club</li>
    <li>Career Development Club</li>
    <li>Photography Club</li>
    <li>Robotics Club</li>
    <li>Programming Contest Club</li>
    <li>Research & Publication Club</li>
    <li>Cultural Club</li>
    <li>Software & Hardware Club</li>
    <li>Math Club</li>
</p>
<div class="owl-card">🦉</div>
</div>

<div class="event-card">
<h3>Cultural Night</h3>
<p>
   <ul>
    <li>Dance Performance</li>
    <li>Music Performance</li>
    <li>Drama Performance</li>
</p>
<div class="owl-card">🦉</div>
</div>



</section>

<footer>
<p>© Freshers Reception 2025 |Organized by Batch 56 & Batch 57</p>
</footer>

<script src="{% static 'js/events.js' %}"></script>
</body>
</html>