<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Magical Gallery</title>

<link rel="stylesheet" href="{% static 'css/gellary.css' %}">

<link href="https://fonts.googleapis.com/css2?family=MedievalSharp&family=Cinzel:wght@400;700&display=swap" rel="stylesheet">

</head>

<body>

<div class="stars"></div>
<div class="fog"></div>

<header>
    <h1 class="page-title">Magical Gallery</h1>
</header>

<section class="gallery-section">

    <!-- Memories -->
    <h2 class="section-title">Memories</h2>
    <div class="gallery-grid">

        

        <div class="gallery-item">
            <img src="{% static 'images/note_stick.jpg' %}">
            <div class="owl-img">🦉</div>
        </div>

        <div class="gallery-item">
            <img src="{% static 'images/diya & sudipto.jpg' %}">
            <div class="owl-img">🦉</div>
        </div>

        <div class="gallery-item">
            <img src="{% static 'images/i1.jpg' %}">
            <div class="owl-img">🦉</div>
        </div>

        <div class="gallery-item">
            <img src="{% static 'images/i2.jpg' %}">
            <div class="owl-img">🦉</div>
        </div>

        <div class="gallery-item">
            <img src="{% static 'images/i3.jpg' %}">
            <div class="owl-img">🦉</div>
        </div>

        <div class="gallery-item">
            <img src="{% static 'images/kala_chasma.jpg' %}">
            <div class="owl-img">🦉</div>
        </div>



    </div>

    <!-- Memories with Faculties -->
    <h2 class="section-title">Memories with Faculties</h2>
    <div class="gallery-grid">

        <div class="gallery-item">
            <img src="{% static 'images/rashik_sir.jpg' %}">
            <div class="owl-img">🦉</div>
        </div>

        <div class="gallery-item">
            <img src="{% static 'images/nakiba_maam.jpg' %}">
            <div class="owl-img">🦉</div>
        </div>

        <div class="gallery-item">
            <img src="{% static 'images/tahira_maam.jpg' %}">
            <div class="owl-img">🦉</div>
        </div>
        <div class="gallery-item">
            <img src="{% static 'images/atif_sir.jpg' %}">
            <div class="owl-img">🦉</div>
        </div>

    </div>

    <!-- Memories with Seniors -->
    <h2 class="section-title">Memories with Seniors</h2>
    <div class="gallery-grid">

      

         <div class="gallery-item">
            <img src="{% static 'images/in_stage.jpg' %}">
            <div class="owl-img">🦉</div>
        </div>

         <div class="gallery-item">
            <img src="{% static 'images/all_sit.jpg' %}">
            <div class="owl-img">🦉</div>
        </div>

         <div class="gallery-item">
            <img src="{% static 'images/the_seniors.jpg' %}">
            <div class="owl-img">🦉</div>
        </div>

         <div class="gallery-item">
            <img src="{% static 'images/all_in_1.jpg' %}">
            <div class="owl-img">🦉</div>
        </div>

    </div>

</section>

<footer>
    <p>© Freshers Reception 2025 | Wizarding Theme</p>
</footer>

</body>
</html>